:root {
  --content-width: 77.5rem; //1240px
  --container-offset: 1.25rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}

[class*='_container'] {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--container-offset);
}
