.parentWrapper {
  margin-bottom: 2rem;
}

.text {
  color: $primary-white;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputWrapper {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.selector {
  margin-top: 1rem;
}
