.wrapper {
  @media (max-width: 425.98px) {
    width: auto;
    flex: 1;
  }
}

.inputWrapper {
  position: relative;
  width: 21.25rem;
  margin-right: 1.25rem;

  @media (max-width: 425.98px) {
    width: auto;
  }
}

.icon {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 1rem;
}

.cross {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}
